# Produced by Icon Composer on macOS
bin/bassielight/meta/macos/icon.icon/icon.json
bin/game2048/meta/macos/icon.icon/icon.json
bin/manexplorer/meta/macos/icon.icon/icon.json
bin/navidrome/meta/macos/icon.icon/icon.json
